# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Sphinx documentation
docs/_build/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
